Django==1.7.4
Jinja2==2.7.3
MarkupSafe==0.23
South==0.8.4
amqp==1.4.6
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.19
celery==3.1.17
django-indexer==0.3.0
django-paging==0.2.5
django-sentry==1.13.5
django-templatetag-sugar==1.0
djangorestframework==3.0.5
eventlet==0.14.0
greenlet==0.4.2
kombu==3.0.30
lockfile==0.9.1
python-daemon==1.6
pytz==2014.10
raven==4.2.1
wsgiref==0.1.2
uwsgi>=2.0.12
MySQL-python==1.2.5
